@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("./Navbar.scss");
@import url("./_variables.scss");
body {
  font-family: "Gloria Hallelujah", cursive;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    48deg,
    rgba(131, 58, 180, 1) 28%,
    rgba(253, 29, 29, 1) 59%,
    rgba(252, 176, 69, 1) 83%
  );
}
