@import url("./_reset.scss");
@import url("./_variables.scss");

nav {
  display: flex;
  justify-content: center;
  background-color: var(--card);
  color: white;

  div {
    padding: 1rem;
    cursor: pointer;
    &:hover {
      background: rgb(131, 58, 180);
      background: linear-gradient(
        48deg,
        rgba(131, 58, 180, 1) 28%,
        rgba(253, 29, 29, 1) 59%,
        rgba(252, 176, 69, 1) 83%
      );
      color: black;
    }
  }
}
